src/main/mule/jenkins-pipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="048b70b8-77a0-4871-a61f-fc81b82875a4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="1c623c1a-3bf1-4561-ab3d-ca58b36e8e46" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<flow name="jenkins-pipelineFlow" doc:id="e35584d6-3cee-45ea-b287-86f62fb30eb4" >
		<http:listener doc:name="Listener" doc:id="92bd5e3b-bd1c-4f6c-abe4-966632c907b4" path="/test" config-ref="HTTP_Listener_config"/>
	<http:request method="GET" doc:name="Request" doc:id="1276aa7c-7c45-4026-be44-87449531f8a9" path="/{region}/{city}" config-ref="HTTP_Request_configuration">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="887a4e5a-28d5-44c2-81ea-9c6133565148" message="#[Tested]"/>
	
</flow>
</mule>
